doctype html
html
  head
    title= title
    script(src='/socket.io-client/socket.io.js')
  body
    script(src='/gamescript/bullet.js')
    script(src='/gamescript/tank.js')
    script(src='/gamescript/wall.js')
    script(src='/gamescript/game_main.js')
